body {
    background-color: #000;
    font-size: 1.5vw;
}

.game-stage-con {
    position: relative;
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: start;
    perspective: 1000px;
}

.game-page-con {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 70vw;
    max-height: 100vh;
    padding-top: 4vw;
    color: #ffffff;
    overflow: hidden;
    animation: comeUp 0.5s;
    transition: 1s;
}

@keyframes showDown {
    from {
        top: -50%;
    }
    to {
        top: 40%;
    }
}

@keyframes comeUp {
    from {
        transform: scale(0.0);
    }
    to {
        transform: scale(1);
    }
}

@keyframes fadeInOut {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}

@keyframes oldCursor {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}

@keyframes introStarX {
    from {
        transform: translateX(0vw);
    }
    to {
        transform: translateX(-3vw);
    }
}

@keyframes introStarY {
    from {
        transform: translateY(0.9vw);
    }
    to {
        transform: translateY(2.9vw);
    }
}