.game-prepare-con {
    background-color: #000aa6;
    padding: 1vw 0;
    color: #fff200;
    font-weight: bold;
    height: 70vw;
}

.prepare-title {
    text-align: center;
}

.prepare-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}